<mat-sidenav-container class="sidenav-container">





  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <mat-toolbar *ngIf="(StatusLoggedIn$|async)">Menu</mat-toolbar>

    <mat-nav-list>

      <a *ngIf="(selectIsAdmin$|async)" mat-list-item routerLink="users">Users</a>
      <a *ngIf="(StatusLoggedIn$|async)" mat-list-item href="#">Link 2</a>
      <a *ngIf="(StatusLoggedIn$|async)" mat-list-item href="#">Link 3</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>Together We Growthy</div>

      <a *ngIf="(StatusLoggedIn$|async)" routerLink="login">
        <div (click)="logout()">Logout</div>
      </a>





    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>