<form [formGroup]="filters">
  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <mat-form-field>
              <input type="number" matInput class="form-field" placeholder="Id" formControlName="id">
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.userId}}</td>
      </ng-container>

      <!-- Firist Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <mat-form-field>
              <input matInput class="form-field" placeholder="First Name" formControlName="firstName">
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
      </ng-container>
      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <mat-form-field>
              <input matInput class="form-field" placeholder="Last Name" formControlName="lastName">
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
      </ng-container>
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <mat-form-field>
              <input matInput class="form-field" placeholder="Email" formControlName="email">
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <!-- Phone Number Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <mat-form-field>
              <input matInput class="form-field" placeholder="Phone Number" formControlName="phoneNumber">
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
  </div>
</form>